/*! filtros */

.encabezado--con-filtros
  contenedor()
  h2
    margin-block-start: 10px
    text-transform: uppercase
    font-weight: 500
    font-size: 5rem
    font-family: Fuente2
  .filtros
    width: 250px
    height: 75px
    padding: 20px
    margin-inline-start: auto
    caja-sombra()
    span
      text-transform: uppercase
      font-family Fuente2
    a
      margin-inline-start 20px
      font-size 25px
      color color-primario