extend ./componentes/plantilla.pug
block contenido

    section.intro
      .intro__imagen: img(src="./images/imagen.png", alt="Imagen XD")
      .intro__contenido
        h2 #{titulo}
        p
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo tenetur quaerat architecto magni totam, doloribus placeat dignissimos laudantium ipsa hic in ratione fuga omnis, reprehenderit eius atque dolore asperiores possimus.
          span Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque inventore tenetur ab vel.
    main.contenido
      +caja("imagen.png",titulos[1],"Lorem ipsum dolor dir")
      +caja("imagen.png",titulos[2],"Lorem ipsum dolor dir")
      +caja("imagen.png",titulos[3],"Lorem ipsum dolor dir")