/* perfiles */

.perfil {
  width: 50%;
  padding-block-start: 50px;
  color: $color-claro;
  background-color: $color-secundario;
  &__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50em;
  }
  &__nombre {
    text-align: center;
    font-size: 2rem;
    @include titulos($fuente2);
  }
  &__titulo {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: get-opactiy($color-claro, 0.5);
  }
  &__boton {
    display: block;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    padding-block-start: 5px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    @include titulos($fuente2);
    color: $color-claro;
    background-color: get-opacity($color-primario, 0.2);
    border: 2px solid get-opacity($color-claro, 0.3);
  }
}

.perfil__minibio {
  margin: 0 auto;
  padding-block-start: 20px;
  h2 {
    @extend .perfil__nombre;
  }
  h3 {
    @extend .perfil__titulo;
  }
}
