.footer--principal {
  display: flex;
  height: 160px;
  margin-block-start: 30px;
  padding: 0 20px 20px 20px;
  background-color: $color-primario;
}

.nav--footer ul {
  display: flex;
  padding-block-start: 35px;
  li {
    list-style: none;
    margin-inline-end: 50px;
    a {
      color: $color-claro;
      @include titulos($Fuente2);
    }
  }
}

.nav--social {
  margin-inline-start: auto;
  ul {
    display: flex;
    padding-block-start: 35px;
    li {
      list-style: none;
      margin-inline-end: 50px;
      color: $color-claro;
      a {
        color: $color-claro;
        @include titulos($Fuente2);
      }
    }
  }
}
